:root {
  font-family: "Urbanist", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, p {
  margin: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 1rem;
}

/* Navbar styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo {
  height: 72px;
  width: 72px;
}

.github-logo {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.github-logo:hover {
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.github-logo:active {
  transform: scale(0.95);
}

/* Main content styles */
main header {
  margin-top: 20px;
}

main header h1 {
  font-size: 28px;
  font-weight: 700;
}

.highlight {
  color: #007FFF;
}

.subtitle {
  color: #8D9CB8;
  font-size: 14px;
  font-weight: 400;
}

/* No task styles */
.no-task {
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.no-task-desc {
  color: #8D9CB8;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}

/* Task input styles */
.task-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.add-task-btn {
  margin-right: 10px;
}

.add-task-btn:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.task-input {
  font-family: Urbanist, sans-serif;
  font-size: 16px;
  font-weight: 600;
  flex: 1;
  padding: 10px;
  border: 0;
  background-color: #FFFFFF;
  color: #8D9CB8;
  margin-right: 10px;
}

.task-input::placeholder {
  color: #8D9CB8;
  font-size: 16px;
  font-weight: 400;
}

.task-input:focus {
  outline: none;
  cursor: text;
  color: #3F3D56;
}

.task-note-icon {
  margin-right: 10px;
}

.task-info-input {
  font-family: Urbanist, sans-serif;
  font-size: 14px;
  flex: 1;
  padding: 10px;
  border: 0;
  background-color: #FFFFFF;
  color: #8D9CB8;
  margin-right: 10px;
}

.task-info-input::placeholder {
  color: #8D9CB8;
  font-size: 14px;
  font-weight: 400;
}

.task-info-input:focus {
  outline: none;
  cursor: text;
}

.task-esc-icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.task-close-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.task-close-icon:hover {
  opacity: 0.6;
  transition: opacity 0.2s ease;
}